$background: #121212;
$surface: #212121;
$onBackground: #ffffff;
$primary: #bb86fc;
$secondary: #00897b;

#modal-bg {
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
}

.modal {
	background-color: $surface;
	border-radius: 5px;
	padding: 0 30px;
	font-family: 'Roboto', sans-serif;
	width: 30%;
	position: relative;
	color: $onBackground;

	h2 {
		font-weight: 400;
		margin: 20px 0;
	}

	form {
		display: flex;
		flex-direction: column;
		margin: 10px 0;
		label {
			margin: 5px 0;
		}
		input {
			margin: 5px 0;
			width: 100%;
			border: none;
		}
		input[type='text'] {
			color: $onBackground;
			outline: none;
		}
		input[type='text'],
		input[type='color'] {
			background-color: $surface;
			border-bottom: 1px solid $secondary;
		}
		input[type='submit'] {
			margin: 20px;
			width: 40%;
			align-self: center;
		}
	}

	.modal-exit {
		position: absolute;
		top: 10px;
		right: 10px;
	}
}
