#drawer {
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: #eee;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.listTitle {
	margin: 10px 20px;
	font-size: 22px;
}

.listTitleText {
	margin-left: 5px;
}
