$background: #121212;
$surface: #212121;
$onBackground: #ffffff;
$primary: #bb86fc;
$secondary: #00897b;

#drawer-container {
	height: 100vh;
	width: 300px;
	z-index: 1;
	top: 0;
	left: 0;
	background: $surface;
	overflow-x: hidden;
	transition: 0.5s;

	.drawer-list {
		margin-top: 30px;
	}

	a:hover {
		color: $primary;
	}

	.list-title {
		margin: 10px 30px;
		font-size: 22px;

		.list-title-text {
			margin-left: 10px;
		}
	}
}

.project-list-actions {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-actions-heading {
	font-size: 24px;
	margin-left: 10px;
}

.add-project-button {
	width: 20px;
	height: 20px;
	margin: 10px;
	cursor: pointer;
}

.add-project-button:hover {
	color: $secondary;
}
