$background: #121212;
$surface: #212121;
$onBackground: #ffffff;
$primary: #bb86fc;
$secondary: #00897b;

.todo-pane {
	margin: 20px;
}

.todo {
	padding: 8px 5px;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);

	&:hover {
		background-color: $surface;
	}

	.checkbox {
		opacity: 0.5;
	}
}

.todo-desc {
	margin-left: 10px;
}

.todo-details-row {
	display: flex;
	justify-content: space-between;
}

.todo-due-date-label {
	opacity: 0.5;
}

.todo-project-label {
	justify-self: end;
	opacity: 0.5;
}

.add-todo-container {
	margin-top: 10px;

	.add-list-todo {
		padding: 5px;
		width: 100%;
		opacity: 50%;

		&:hover {
			color: $secondary;
			opacity: 100%;
		}

		.add-todo-text {
			margin-left: 10px;
		}
	}

	.todo-creation-container {
		padding: 10px;
		margin-top: 5px;
		border: 1px solid rgb(0, 0, 0, 0.3);
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		background-color: $surface;

		input,
		select {
			border: none;
			outline: none;
			border-radius: 5px;
			background-color: $surface;
			padding: 5px;
			color: $onBackground;
		}

		.todo-title-input {
			width: 95%;
			margin: 5px;
			outline: none;
		}

		.due-date-input {
			margin: 0 5px;
		}

		.todo-optional-fields {
			display: flex;
		}
	}
}
