body {
	margin: 0;
	padding: 0;
}

#main {
	font-family: 'Roboto', sans-serif;
	display: flex;
}

#todoPaneContainer {
	width: 100%;
}

.dot {
	height: 15px;
	width: 15px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}
